:host {
  display: block;
}

.name {
  background-color: white;
  font-size: 1.2rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-arrow {
  cursor: pointer;
  user-select: none;
  transform: translateY(4px);
}

.collapsed {
  .dropdown-arrow {
    transform: translateY(4px) rotate(-90deg);
  }

  .requirements {
    display: none;
  }
}

.requirements {
  margin-left: 24px;
}

::ng-deep .requirements > app-requirement:last-child > .requirement {
  border-bottom-left-radius: 12px;
}
