<div [ngClass]="collapsed ? 'collapsed' : null">
  <div class="name row">
    <div class="col-auto px-1">
      <i class="dropdown-arrow material-icons" (click)="toggleCollapsed()">arrow_drop_down</i>
    </div>
    <div class="col px-1">
      {{ requirementCategory.name }}
    </div>
  </div>
  <div class="requirements">
    <app-requirement
      *ngFor="let requirement of requirementCategory.requirements"
      [requirement]="requirement"
      [courses]="courses"
      [manuallyFulfilled]="manuallyFulfilled"
      [fulfillmentMap]="fulfillmentMap"
      (onManualFulfill)="onManualFulfill.emit($event)"
      (onManualUnfulfill)="onManualUnfulfill.emit($event)"
      (openRequirementDisplay)="openRequirementDisplay.emit($event)"
    ></app-requirement>
  </div>
</div>
