:host {
  display: block;
}

.name {
  background-color: white;
  font-size: 1.2rem;
}

.dropdown-arrow {
  cursor: pointer;
  user-select: none;
  transform: translateY(4px);
}

.collapsed {
  .dropdown-arrow {
    transform: translateY(4px) rotate(-90deg);
  }

  .requirements {
    display: none;
  }
}

.requirements {
  margin-left: 24px;
}
