<h3 class="display-title">Eligible Courses</h3>
<div class="course-list">
  <table>
    <colgroup>
      <col class="no-col" />
      <col class="title-col" />
      <col class="grade-col" />
    </colgroup>
    <thead>
      <tr>
        <th class="course-table-sort" (click)="changeSort('no')">
          Course No.
          <i class="material-icons sort-arrow" *ngIf="sortField === 'no' && !sortDescending">arrow_drop_up</i>
          <i class="material-icons sort-arrow" *ngIf="sortField === 'no' && sortDescending">arrow_drop_down</i>
        </th>
        <th class="course-table-sort" (click)="changeSort('title')">
          Course Title
          <i class="material-icons sort-arrow" *ngIf="sortField === 'title' && !sortDescending">arrow_drop_up</i>
          <i class="material-icons sort-arrow" *ngIf="sortField === 'title' && sortDescending">arrow_drop_down</i>
        </th>
        <th class="course-table-sort" (click)="changeSort('grade')">
          Avg. Grade
          <i class="material-icons sort-arrow" *ngIf="sortField === 'grade' && !sortDescending">arrow_drop_up</i>
          <i class="material-icons sort-arrow" *ngIf="sortField === 'grade' && sortDescending">arrow_drop_down</i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
      <tr
        class="course-table-row"
        *ngFor="let course of getFulfillingCourses() | async"
        (click)="viewCourseBerkeleytime(course)"
      >
        <td class="no">{{ course.dept }} {{ course.no }}</td>
        <td class="title">{{ course.title }}</td>
        <td class="grade">{{ course.berkeleytimeData.grade || '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #courseInfo>
  <div class="modal-body">
    <app-berkeleytime-info [course]="selectedCourse"></app-berkeleytime-info>
  </div>
</ng-template>
