<h3 class="display-title">Eligible Courses</h3>
<div class="course-list">
  <table>
    <tr>
      <th (click)="changeSort('no')"> Course No. </th>
      <th (click)="changeSort('title')"> Course Title</th>
      <th (click)="changeSort('grade')"> Average Grade </th>
    <tr>
    <tr class="course-table-row" *ngFor="let course of getFulfillingCourses() | async" (click)="viewCourseBerkeleytime(course)">
      <td> {{ course.dept }} {{ course.no }} </td>
      <td> {{ course.title }}</td>
      <td> {{ course.berkeleytimeInfo.grade }} </td>
    </tr>
  </table>
  <br />
</div>
