<h3 class="display-title">Eligible Courses</h3>
<div class="course-list">
  <table>
    <thead>
      <tr>
        <th (click)="changeSort('no')">
          Course No.
          <ng-container *ngIf="sortField === 'no' && !sortDescending">&#8593;</ng-container>
          <ng-container *ngIf="sortField === 'no' && sortDescending">&#8595;</ng-container>
        </th>
        <th (click)="changeSort('title')">
          Course Title
          <ng-container *ngIf="sortField === 'title' && !sortDescending">&#8593;</ng-container>
          <ng-container *ngIf="sortField === 'title' && sortDescending">&#8595;</ng-container>
        </th>
        <th (click)="changeSort('grade')">
          Average Grade
          <ng-container *ngIf="sortField === 'grade' && !sortDescending">&#8593;</ng-container>
          <ng-container *ngIf="sortField === 'grade' && sortDescending">&#8595;</ng-container>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
      <tr
        class="course-table-row"
        *ngFor="let course of getFulfillingCourses() | async"
        (click)="viewCourseBerkeleytime(course)"
      >
        <td>{{ course.dept }} {{ course.no }}</td>
        <td>{{ course.title }}</td>
        <td>{{ course.berkeleytimeData.grade }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="selectedCourse">
  <app-berkeleytime-info [berkeleytimeData]="selectedCourse.berkeleytimeData"></app-berkeleytime-info>
</div>
