.course-list {
  width: 100%;
  font-size: 1rem;
  overflow: auto;
  max-height: 450px;
}

.course-table-sort {
  cursor: pointer;
}

.sort-arrow {
  font-size: 18px;
  transform: translateY(3px);
}

.course-table-row {
  cursor: pointer;
}

.course-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.course-list th,
.course-list td {
  padding: 4px 8px;
}

.no-col {
  width: 9rem;
}

.grade-col {
  width: 9rem;
}
