.Requirement,
.Requirement__nested > *,
.Requirement__course {
  padding-left: 16px;
}

.Requirement__fulfilled {
  background-color: #d8fcbc;
}

.Requirement__fulfilled .Requirement__unfulfilled,
.Requirement__fulfilled .Requirement__.possible {
  background-color: lightgray;
}

.Requirement__unfulfilled {
  background-color: #fcc3bc;
}

.Requirement__possible {
  background-color: #fbfcbc;
}

.Requirement__course {
  background-color: white;
}

.Requirement__manual {
  padding-left: 8px;
  border-left: 8px solid rgba(128, 128, 128, 0.5);
}

.Requirement__more {
  float: right;
  height: 1.5rem;
}
