.RequirementSet__name {
  font-size: 1.5rem;
}

.RequirementSet__dropdown-arrow {
  cursor: pointer;
  user-select: none;
  transform: translateY(4px);
}

.RequirementSet--collapsed .RequirementSet__dropdown-arrow {
  transform: translateY(4px) rotate(-90deg);
}

.RequirementSet--collapsed .RequirementSet__requirement-categories {
  display: none;
}

.RequirementSet__requirement-categories {
  margin-left: 16px;
}

.RequirementCategory {
  margin-bottom: 16px;
}
