<ng-template #standardReq>{{ requirement.name }}<span *ngIf="getAnnotation()">&nbsp;*</span></ng-template>

<ng-template #multiReq>
  <ng-container *ngIf="!getMulti().hidden; else standardReq">
    {{
      getMulti().numRequired === 1
        ? 'One of'
        : getMulti().numRequired === getMulti().requirements.length
        ? 'All of'
        : getMulti().numFulfilled(courses, manuallyFulfilled) + '/' + getMulti().numRequired + ' of'
    }}
    <app-requirement
      *ngFor="let childReq of getMulti().requirements"
      [requirement]="childReq"
      [courses]="courses"
      [manuallyFulfilled]="manuallyFulfilled"
      [fulfillmentMap]="fulfillmentMap"
      (onManualFulfill)="manuallyFulfill($event)"
      (onManualUnfulfill)="manuallyUnfulfill($event)"
    ></app-requirement>
  </ng-container>
</ng-template>

<ng-template #unitReq>
  {{ getUnit().unitsFulfilled(courses) }}/{{ getUnit().units }} units of
  <br />
  {{ getUnit().requirement.name }}
  <div class="nested">
    <div class="course" *ngFor="let course of getUnit().getFulfillingCourses(courses)">
      {{ course.getName() }}
    </div>
  </div>
</ng-template>

<ng-template #unfulfilledCount>
  {{ getCount().requirement.name }}
</ng-template>

<ng-template #countReq>
  <ng-container *ngIf="!getCount().hidden; else hiddenCount">
    {{ requirement.name }}
    <div class="nested">
      <div *ngFor="let item of [].constructor(getCount().numRequired); let i = index">
        <div *ngIf="i < getCount().getFulfillingCourses(courses).length; else unfulfilledCount" class="fulfilled">
          {{
            getCount()
              .getFulfillingCourses(courses)
              [i].getName()
          }}
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #hiddenCount>
  {{ getCount().countFulfilled(courses) }}/{{ getCount().numRequired }} courses of
  <br />
  {{ getCount().requirement.toString() }}
  <div class="nested">
    <div class="course" *ngFor="let course of getCount().getFulfillingCourses(courses)">
      {{ course.getName() }}
    </div>
  </div>
</ng-template>

<div
  class="requirement"
  [ngClass]="getFulfillment()"
  [ngbPopover]="getAnnotation() ? annotation : null"
  [triggers]="getAnnotation() ? 'mouseenter:mouseleave' : null"
>
  <div ngbDropdown class="req-more">
    <button class="gt-button" ngbDropdownToggle><i class="material-icons">more_horiz</i></button>
    <div ngbDropdownMenu>
      <button *ngIf="hasDisplay()" ngbDropdownItem (click)="openRequirementDisplay(requirement)">
        Show Fulfilling Courses
      </button>
      <button *ngIf="!isManuallyFulfilled()" ngbDropdownItem (click)="manuallyFulfill(requirement)">
        Mark as Fulfilled
      </button>
      <button *ngIf="isManuallyFulfilled()" ngbDropdownItem (click)="manuallyUnfulfill(requirement)">
        Mark as Unfulfilled
      </button>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="getReqTemplate()"></ng-container>
</div>

<!-- FIXME This can also be an XSS vector -->
<ng-template #annotation>
  <div [outerHTML]="getAnnotation()"></div>
</ng-template>

<ng-template #requirementDisplayTemplate>
  <div class="modal-body">
    <app-requirement-display [requirementInput]="displayedRequirement"></app-requirement-display>
  </div>
</ng-template>
