.header {
  margin-top: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.25rem;
  color: #283adc;
}

.initializer {
  padding-left: 32px;
  padding-right: 32px;
}

.failure {
  color: red;
}
