<div class="modal-body">
  <h4 class="header">Set Up</h4>
  <div class="form-group">
    <label>Majors</label>
    <input class="form-control" [(ngModel)]="major" />
  </div>
  <div class="form-group">
    <label>Minors</label>
    <input class="form-control" />
  </div>
  <div class="form-group">
    <label>Graduation Year</label>
    <input class="form-control" [(ngModel)]="gradYear" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block gt-button gt-button-secondary" (click)="submit()">Continue</button>
  </div>
</div>
