@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import '~material-design-icons/iconfont/material-icons.css';

body {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

a {
  color: #283adc;
}

a:hover {
  color: #417fdc;
}

.dropdown-sm {
  .dropdown-item {
    padding: 0.1rem 1rem;
    font-size: 0.75rem;
  }
}

.gt-button {
  background-color: unset;
  border: none;
  font-weight: lighter;
}

.gt-button-primary {
  color: #2a26ea;
  background-color: white;
}

.btn-primary {
  border: none;
  background-color: #283adc;
}

.btn-primary:hover {
  background-color: #417fdc;
}

.btn-primary:disabled {
  background-color: #5764db;
}
