<div>
  <colgroup>
    <col class="name" />
    <col class="units" />
    <col class="button-cell" />
  </colgroup>
  <thead class = "semester-name">
    <th colspan="2">
      <h4>{{ semester.name }}</h4>
    </th>
    <th><button (click)="openAdder()">+</button></th>
  </thead>
  <hr>
  <tbody>
    <tr *ngFor="let course of semester.courses">
      <td class="name">
        <ng-container *ngIf="isDuplicate(course)">
          <i class="material-icons" [ngbPopover]="duplicateCoursePopover" triggers="mouseenter:mouseleave">
            error_outline
          </i>
          <ng-template #duplicateCoursePopover>
            This course is duplicated in:
            <ng-container *ngFor="let dupSemester of getSemestersWithCourse(course)">
              <br />
              {{ dupSemester.name }}
            </ng-container>
          </ng-template>
        </ng-container>
        {{ course.dept + ' ' + course.no }}
      </td>
      <td class="units">{{ course.units }}</td>
      <td class="button-cell"><button (click)="removeCourse(course)">-</button></td>
    </tr>
  </tbody>
</div>

<ng-template #courseAdder>
  <div class="modal-body">
    <h4>Add a class to {{ semester.name }}</h4>
    <app-course-searcher (courseReturned)="addCourse($event)"></app-course-searcher>
  </div>
</ng-template>
