:host,
table {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 8px;
  border-collapse: separate;
  border-spacing: 8px 4px;
  font-size: 0.65rem;

  col.name {
    width: 100%;
  }

  col.units {
    width: 10%;
  }

  col.button-cell {
    width: 10%;
  }

  thead.semester-name {
    color: #1337f1;
  }

  hr {
    margin-left: none;
    margin-right: none;
    background: #f0f0f0;
    height: 0.2rem;
    border: none;
    padding: none;
    border-spacing: none;
  }

  .course-adder,
  .course-remover {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px 144px;
    border: none;
    font-size: 1.25rem;
    width: 100%;
    background-color: #f0f0f0;
  }

  td:not(.button-cell) {
    padding: 0 4px;
    background-color: #f0f0f0;
  }

  td.units {
    text-align: center;
    > button {
      width: 100%;
    }
  }
}

.material-icons {
  position: absolute;
  transform: translateX(-26px);
  color: #dfae00;
  font-size: 1.25rem;
}
