:host {
  display: block;
  padding: 12px;
  background-color: white;
}

.semester-name {
  color: #1337f1;
  font-size: 1rem;
  text-align: center;
}

hr {
  margin: 12px;
}

table {
  border-collapse: separate;
  border-spacing: 0 4px;
  font-size: 0.6rem;

  tr {
    background-color: #f0f0f0;
  }

  col.name {
    width: 5rem;
  }

  col.title {
    width: calc(100% - 7rem);
  }

  col.units {
    width: 1rem;
  }

  col.button-cell {
    width: 1rem;
  }

  td {
    padding: 0 4px;
  }

  td.units {
    text-align: center;
  }
}

.course-adder,
.course-remover {
  width: 100%;
  border: none;
  font-size: 1rem;
}

.material-icons {
  position: absolute;
  transform: translateX(-26px);
  color: #dfae00;
  font-size: 1.25rem;
}
