.semester-adder {
  margin: 16px;
}

.current-semesters {
  margin: 16px;
}

.semester-changer {
  margin: 16px;
}

.material-icons {
  position: absolute;
  transform: translateX(-20px);
  font-size: 18px;
  color: red;
  cursor: pointer;
}
