<div class="semesterChanger">
  <h3>Add/Remove a Semester</h3>
  <div *ngFor="let semester of semesters">
    <h4>
      <i class="material-icons" (click)="removeSemester(semester)">close</i> {{ semester.name }}
      <br />
    </h4>
  </div>
</div>

<button (click)="openModal()">Add a Semester</button>

<ng-template #semesterAdder>
  <h5>Semester Name:</h5>
  <form (ngSubmit)="addSemester(semesterName)">
    <input type="text" name="name-input" [(ngModel)]="semesterName" />
    <button type="submit">submit</button>
  </form>
</ng-template>
