<h3>Add/Remove a Semester</h3>
<div class="table">
  <h4 *ngFor="let semester of semesters">
    <i class="material-icons" (click)="removeSemester(semester)">close</i>{{ semester.name }}
  </h4>
  <button (click)="openSemesterAdder()">Add a Semester</button>
</div>
<button class="confirmation" (click)="returnSemesters()">Confirm</button>

<ng-template #semesterAdder>
  <div class="semester-adder">
    <h5>Add a semester</h5>
    <form class="semester-input" (ngSubmit)="addSemester(semesterName)">
      <label>Semester name</label>
      <input type="text" name="name-input" [(ngModel)]="semesterName" />
      <button type="submit">add</button>
    </form>
  </div>
</ng-template>
