.row{
  overflow: hidden;
  white-space: nowrap;
}
#classname{
  width: 100px;
  background-color: #E2F9FE;
  height: 20px;
}
#unitcount{
  width:20px;
  text-align: center;
  background-color: #E2F9FE;
}
td{
  padding: 5px;

}
