:host {
  padding: 16px 144px 16px 16px;
  background-color: #F0F0F0;
}

.semester-changer {
  margin-bottom: 48px;
}

.semester-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px 144px;
}
