<table id = "pane">
  <tr>
    <td>
      <app-semester></app-semester>
    </td>
    <td>
      <app-semester></app-semester>
    </td>
  </tr>
  <tr>
    <td>
      <app-semester></app-semester>
    </td>
    <td>
      <app-semester></app-semester>
    </td>
  </tr>
  <tr>
    <td>
      <app-semester></app-semester>
    </td>
    <td>
      <app-semester></app-semester>
    </td>
  </tr>
  <tr>
    <td>
      <app-semester></app-semester>
    </td>
    <td>
      <app-semester></app-semester>
    </td>
  </tr>
  </table>
