$header-height: 5rem;

.header {
  width: 100%;
  height: $header-height;
  position: fixed;
  color: white;

  button {
    color: white;
  }
}

.title {
  height: 60%;
  background-color: #283adc;
  text-align: center;
  font-size: 1.25rem;
  padding: 8px;
}

.name {
  height: 40%;
  background-color: #417fdc;
  padding: 4px;
}

.body {
  position: absolute;
  top: $header-height;
  width: 100%;
}

.main > * {
  height: calc(100vh - #{$header-height});
  overflow-y: scroll;
}

$report-button-width: 5rem;
$report-button-height: 2rem;

.report-button {
  position: fixed;
  right: ($report-button-height - $report-button-width) / 2;
  top: calc(50vh + #{$header-height / 2 - $report-button-height / 2});
  width: $report-button-width;
  height: $report-button-height;
  font-size: 0.75rem;
  transform: rotate(-90deg);
}

.left {
  float: left;
}

.right {
  float: right;
}
