:host {
  display: grid;
  padding: 16px;
  grid-template-columns: 60% 40%;
  grid-gap: 16px;
}

.selector-container {
  display: flex;

  > * {
    margin: 12px;
    width: 100%;
  }
}

.selector > select {
  width: 100%;
}

.material-icons {
  position: absolute;
  transform: translateX(-20px);
  font-size: 18px;
  color: red;
  cursor: pointer;
}
