<div class="chooser">
  <input type="text" name="search-box" [(ngModel)]="searchPrompt" (keyup)="updateGoalSearch()" />
  <div class="selector-container">
    <div *ngFor="let state of selectionStates" class="selector">
      <h4>{{ state.type | titlecase }}</h4>
      <select size="8" [(ngModel)]="state.selectedSearchedGoal">
        <option *ngFor="let goal of state.searchedGoals" [ngValue]="goal">{{ goal.name }}</option>
      </select>
      <button *ngIf="state.selectedSearchedGoal" (click)="addGoal(state.selectedSearchedGoal, state)">Add</button>
    </div>
  </div>
</div>
<div class="cart">
  <h3>Selected Goals</h3>
  <div *ngFor="let state of selectionStates" class="selector">
    <h4>{{ state.type | titlecase }}</h4>
    <p>
      <ng-container *ngFor="let goal of state.chosenGoals">
        {{ goal.name }}
        <br />
      </ng-container>
    </p>
  </div>
  <button (click)="emitGoals()">Confirm</button>
</div>
