<ng-container *ngIf="requirementSets; else loading">
  <div class="row">
    <div class="col-8">
      <input
        class="form-control"
        type="text"
        placeholder="Search for a major"
        [(ngModel)]="searchPrompt"
        (keyup)="updateGoalSearch()"
      />
      <div class="row">
        <div *ngFor="let state of selectionStates" class="col">
          <h4>{{ state.type | titlecase }}</h4>
          <select class="custom-select" size="8" [(ngModel)]="state.selectedSearchedGoal">
            <option *ngFor="let goal of state.searchedGoals" [ngValue]="goal">{{ goal.name }}</option>
          </select>
          <button
            class="btn btn-primary btn-sm btn-block"
            (click)="addGoal(state.selectedSearchedGoal, state)"
            [disabled]="!state.selectedSearchedGoal"
          >
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <h3>Selected Goals</h3>
      <div *ngFor="let state of selectionStates">
        <h4>{{ state.type | titlecase }}</h4>
        <p>
          <span *ngFor="let goal of state.chosenGoals">
            <i class="material-icons" (click)="removeGoal(goal, state)">close</i>
            {{ goal.name }}
            <br />
          </span>
        </p>
      </div>
      <button class="btn btn-primary" (click)="emitGoals()">Confirm</button>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  Loading...
</ng-template>
