<ng-container *ngIf="requirementSets; else loading">
  <div class="row">
    <div class="col search">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          placeholder="Search for a major"
          [(ngModel)]="searchPrompt"
          (keyup)="updateGoalSearch()"
        />
      </div>
      <div class="row">
        <div *ngFor="let state of selectionStates" class="form-group col">
          <h4 *ngIf="selectionStates.length > 1">{{ state.type | titlecase }}</h4>
          <div class="form-group">
            <select class="custom-select" size="8" [(ngModel)]="state.selectedSearchedGoal">
              <option *ngFor="let goal of state.searchedGoals" [ngValue]="goal">{{ goal.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <button
              class="btn btn-outline-primary btn-sm btn-block"
              (click)="addGoal(state.selectedSearchedGoal, state)"
              [disabled]="!state.selectedSearchedGoal"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="col">
      <h4 class="gt-modal-header">Selected Goals</h4>
      <div *ngFor="let state of selectionStates">
        <h4 *ngIf="selectionStates.length > 1">{{ state.type | titlecase }}</h4>
        <hr />
        <div *ngFor="let goal of state.chosenGoals">
          <i class="material-icons remove" (click)="removeGoal(goal, state)">close</i>
          <span class="goal">{{ goal.name }}</span>
          <hr />
        </div>
      </div>
      <button class="btn btn-primary btn-sm btn-block" (click)="emitGoals()">Confirm</button>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  Loading...
</ng-template>
