.search {
  margin-top: 24px;
}

.line {
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  border-left: solid 1px #e0e0e0;
}

.goal {
  color: #283adc;
}

.remove {
  position: absolute;
  transform: translate(-20px, 2px);
  font-size: 1.25rem;
  color: red;
  cursor: pointer;
}

.request-major {
  font-size: 0.85rem;
}
