<!-- FIXME Remove check for whether isFulfilled exists -->
<!-- FIXME Remove check for getAnnotation -->
<!-- TODO This seems slightly janky -->
<ng-template #annotation>
  <div [outerHTML]="getAnnotation()"></div>
</ng-template>
<!-- TODO Find a better way to cast variables in HTML templates -->
<!-- TODO Make these look better -->
<ng-template #multiReq>
  <td>
    {{ getMulti().numFulfilled(courses) }}/{{ getMulti().numRequired }} of
    <table class="nested">
      <tbody
        app-requirement
        *ngFor="let childReq of getMulti().requirements"
        [requirement]="childReq"
        [courses]="courses"
      ></tbody>
    </table>
  </td>
</ng-template>
<ng-template #unitReq>
  <td>
    {{ getUnit().unitsFulfilled(courses) }}/{{ getUnit().units }} units of
    <br />
    {{ getUnit().requirement.name }}
    <table class="nested">
      <tbody>
        <tr *ngFor="let course of getUnit().getFulfillingCourses(courses)">
          <td>{{ course.toString() }}</td>
        </tr>
      </tbody>
    </table>
  </td>
</ng-template>
<tr
  [ngClass]="requirement.isFulfilled && requirement.isFulfilled(courses) ? 'fulfilled' : 'unfulfilled'"
  [ngbPopover]="requirement.getAnnotation && requirement.getAnnotation() ? annotation : null"
  triggers="mouseenter:mouseleave"
>
  <ng-container *ngIf="!isMulti() && !isUnit()">
    <td>{{ requirement.name }}<span *ngIf="getAnnotation()"> *</span></td>
  </ng-container>
  <ng-container *ngIf="isMulti(); then multiReq"></ng-container>
  <ng-container *ngIf="isUnit(); then unitReq"></ng-container>
</tr>
