.fulfilled {
  background-color: #d8fcbc;

  .unfulfilled,
  .potential {
    background-color: lightgray;
  }
}

.unfulfilled {
  background-color: #fcc3bc;
}

.potential {
  background-color: #fbfcbc;
}

.nested {
  width: 100%;
}

.transparent {
  padding: 4px;
}
