.requirement,
.nested > *,
.course {
  padding-left: 16px;
  width: 96%;
}

.fulfilled {
  background-color: #d8fcbc;

  .unfulfilled,
  .potential {
    background-color: lightgray;
  }
}

.unfulfilled {
  background-color: #fcc3bc;
}

.potential {
  background-color: #fbfcbc;
}

.course {
  background-color: white;
}

.req-more {
  float: right;
  height: 1.5rem;

  > button {
    background-color: transparent;
    border: none;
  }
}
