.fulfilled {
  background-color: #d8fcbc;
}

.unfulfilled {
  background-color: #fcc3bc;
}

.fulfilled .unfulfilled {
  background-color: lightgray;
}

.nested {
  width: 100%;
}

.transparent {
  padding: 4px;
}
