<div class="header">
  <div class="title">GradTrak</div>
  <div class="name">
    <ng-container *ngIf="!state.loggedIn; else loggedIn">
      <div class="left">Guest User</div>
      <div class="right">
        <button (click)="openLogin()">Login</button>
      </div>
    </ng-container>
    <ng-template #loggedIn>
      <div class="left">Name: {{ state.username }}</div>
      <div class="right">
        <button (click)="logout()">Logout</button>
      </div>
    </ng-template>
  </div>
</div>
<ng-container *ngIf="!state.loading; else loading">
  <div class="body">
    <app-semester-pane [semesters]="state.userData.semesters"></app-semester-pane>
    <app-requirements-pane
      [courses]="currentCourses"
      [goals]="state.userData.goals"
      [manuallyFulfilled]="state.userData.manuallyFulfilledReqs"
    ></app-requirements-pane>
  </div>
</ng-container>

<ng-template #loading>
  <div>
    Loading...
  </div>
</ng-template>

<ng-template #login>
  <app-login (success)="closeLogin()"></app-login>
</ng-template>
