$header-height: 5rem;

.header {
  width: 100%;
  height: $header-height;
  position: fixed;
  color: white;

  .title {
    height: 60%;
    background-color: #283adc;
    text-align: center;
    font-size: 1.25rem;
    padding: 8px;
  }

  .name {
    height: 40%;
    background-color: #417fdc;
    padding: 4px;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}

.body {
  position: absolute;
  top: $header-height;
  width: 100%;
}

.main {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 0.6fr 0.4fr;

  > * {
    height: calc(100vh - #{$header-height});
    overflow-y: scroll;
  }
}

app-login {
  padding: 16px;
}

app-report-pane {
  padding: 7px;
}

$report-button-width: 5rem;
$report-button-height: 2rem;

.report-button {
  position: fixed;
  right: ($report-button-height - $report-button-width) / 2;
  top: calc(50vh + #{$header-height / 2 - $report-button-height / 2});
  width: $report-button-width;
  height: $report-button-height;
  background-color: #417fdc;
  color: white;
  font-size: 0.75rem;
  border: 0px;
  transform: rotate(-90deg);
}
