:host {
  display: block;
  padding: 12px;
  background-color: white;
  border-radius: 20px;
}

.semester-name {
  color: #1337f1;
  font-size: 1rem;
  text-align: center;
}

hr {
  margin: 8px;
}

table,
.course-adder {
  width: calc(100% - 24px);
  margin-left: 12px;
  margin-right: 12px;
}

.courses {
  border-collapse: separate;
  border-spacing: 0 4px;
  font-size: 0.6rem;

  col.name {
    width: 5rem;
  }

  col.units {
    width: 2rem;
  }

  col.button-cell {
    width: 2rem;
  }

  td {
    padding: 0 4px;
  }
}

.header {
  font-weight: normal;
}

.course td,
.course-adder {
  background-color: #f0f0f0;
}

$course-row-rounding: 8px;

.course td:first-child {
  border-top-left-radius: $course-row-rounding;
  border-bottom-left-radius: $course-row-rounding;
}

.course td:last-child {
  border-top-right-radius: $course-row-rounding;
  border-bottom-right-radius: $course-row-rounding;
}

.course-adder {
  border-radius: $course-row-rounding;
}

.name {
  position: relative;

  .material-icons {
    position: absolute;
    transform: translateX(-24px);
    font-size: 16px;
    color: #dfae00;
  }
}

.units {
  text-align: center;
}

.course-more-button {
  font-size: 1rem;
}
