:host {
  display: block;
}

.name {
  width: 100%;
  background-color: white;
  font-size: 1.2rem;
}

.button {
  cursor: pointer;
  user-select: none;
  transform: translateY(4px);
}

.requirements {
  padding-left: 24px;
}

.collapsed {
  .button {
    transform: translateY(4px) rotate(-90deg);
  }

  .requirements {
    display: none;
  }
}
