:host {
  padding: 24px;
  background-color: #f0f0f0;
}

.semester-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 24px;
}

.semester-changer {
  position: relative;
  width: 80%;
  left: 10%;
  margin-top: 24px;
  margin-bottom: 24px;
}
