<div class="container px-4 py-3">
  <div class="row justify-content-center">
    <div class="col-8 my-4">
      <button class="gt-button gt-button-primary semester-changer" (click)="openSemesterChanger()">
        Edit Semesters
      </button>
    </div>
  </div>
  <div *ngFor="let year of getYears()" class="row">
    <ng-container *ngFor="let semester of year">
      <div *ngIf="semester" class="col-6 semester">
        <app-semester *ngIf="semester" [semester]="semester" [currentSemesters]="getSemArr(semesters)"></app-semester>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #semesterChangerTemplate>
  <div class="modal-body">
    <app-semester-changer
      [semestersInput]="semesters"
      (semesterChanged)="setSemesters($event)"
      (semesterChanged)="closeSemesterChanger()"
    ></app-semester-changer>
  </div>
</ng-template>
