<div class="semester-container">
  <app-semester
    *ngFor="let semester of getSemArr(semesters)"
    [semester]="semester"
    [currentSemesters]="getSemArr(semesters)"
  ></app-semester>
</div>

<ng-template #semesterChangerTemplate>
  <app-semester-changer
    [semestersInput]="semesters"
    (semesterChanged)="setSemesters($event)"
    (semesterChanged)="closeSemesterChanger()"
  ></app-semester-changer>
</ng-template>

<button class="gt-button gt-button-primary semester-changer" (click)="openSemesterChanger()">
  Add/Remove Semesters
</button>
