<div class="semester-container">
  <app-semester *ngFor="let semester of Array.from(semesters.values()).flat().map((semester) => semester?semester.name).filter(a => a)" [semester]="semester" [currentSemesters]="semesters"></app-semester>
</div> <!-- Yeah okay this is hopefully temporary -->

<ng-template #semesterChangerTemplate>
  <app-semester-changer
    [semestersInput]="semesters"
    (semesterChanged)="setSemesters($event)"
    (semesterChanged)="closeSemesterChanger()"
  ></app-semester-changer>
</ng-template>

<button class="gt-button gt-button-primary semester-changer" (click)="openSemesterChanger()">
  Add/Remove Semesters
</button>
