<table id = "semestertable">
  <thead>
    <th colspan="2"><h3 id="title">{{name}}</h3></th>
    <th><button type="button" id="add">+</button></th>
    <!--TODO: stylize that uglyass button yo-->
  </thead>
  <tbody>
    <tr *ngFor="let course of semester.courses">
      <td id = "classid">{{course.id}}</td>
      <td id = "unitcount">{{course.units}}</td>
      <!--BRUH WHAT THE HELL IS THIS M8-->
      <td><button type="button" name="button">-</button></td>
    </tr>
  </tbody>
</table>
<app-course-adder [semester]="semester"></app-course-adder>
