:host {
  padding: 8px;
}

.section {
  margin-bottom: 1rem;
}

.error {
  color: red;
}

.expand {
  width: 100%;
}

.material-icons {
  font-size: 16px;
}

.edit-button {
  border: none;
  background-color: unset;
}

.password-restrictions {
  font-size: 0.75rem;
}
