<div *ngIf="!isLoading; else loading" class="container">
  <h4>Account Settings</h4>
  <div class="section">
    <div class="row">
      <div class="col col-6">
        <span>Email</span>
      </div>
      <div class="col col-6">
        {{ email }}
      </div>
    </div>
    <div class="row">
      <div class="col col-6">
        <span>Password</span>
      </div>
      <div class="col col-6">
        <ng-container *ngIf="!isChangingPassword; else passwordChange">
          ********&nbsp;<button class="edit-button" (click)="isChangingPassword = true">
            <i class="material-icons">edit</i>
          </button>
        </ng-container>
        <ng-template #passwordChange>
          <input class="expand" type="password" [(ngModel)]="newPassword" />
        </ng-template>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="row">
      <div class="col col-6">
        Current password:
      </div>
      <div class="col col-6">
        <input class="expand" type="password" [(ngModel)]="currentPassword" />
      </div>
    </div>
  </div>
  <div class="section">
    <div class="row">
      <div class="col col-12">
        <button class="expand" (click)="submit()" [disabled]="isSubmitting">Save Changes</button>
      </div>
    </div>
    <div *ngIf="error" class="row">
      <div class="error col col-12">
        {{ error }}
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading...
</ng-template>
