.table {
  margin: 32px;
}

.material-icons {
  position: absolute;
  transform: translate(-20px, 4px);
  font-size: 1.25rem;
  color: red;
  cursor: pointer;
}

.yearName {width: 95px; border-radius: 6px;}

.semesterInput {
  width: 80%;
}
