<h3>Add/Remove a Semester</h3>
<div class="table">
  <h4 *ngFor="let semester of getSemArr(semesters)">
    <i class="material-icons" (click)="removeSemester(semester)">close</i>{{ semester.name }}
  </h4>
  <button class="btn btn-primary btn-sm" (click)="openSemesterAdder()">Add a Semester</button>
</div>
<button class="btn btn-primary" (click)="returnSemesters()">Confirm</button>

<ng-template #semesterAdder>
  <div class="modal-body semester-adder">
    <h4 style="padding-top: 5px;">Add a semester</h4>
    <form class="semesterInput" (ngSubmit)="addSemester(termInput, yearNum)">
      <div class="form-row">
        <div class="col">
          <h5 style="padding-top: 15px;">Term</h5>
        </div>
        <div class="col">
          <select name="termInput" class="term-input" type="string" [(ngModel)]="termInput">
            <option ngValue="Fall" selected="selected">Fall</option>
            <!-- TODO selected = selected doesn't actually work for some reason? -->
            <option ngValue="Spring">Spring</option>
            <option ngValue="Summer">Summer</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <h5 style="padding-top: 15px;">Year</h5>
        </div>
        <div class="col">
          <input type="number" class="year-name" name="year-name" min="2010" max="2030" [(ngModel)]="yearNum" />
        </div>
      </div>
      <br />
      <br />
      <div class="form-row">
        <div class="col">
          <button class="btn btn-primary" type="submit">Add</button>
        </div>
        <p>{{ errorMessage }}</p>
        <!--- TODO: bootstrappify. Was overriden in merge-->
      </div>
    </form>
  </div>
</ng-template>
