<h3>Add/Remove a Semester</h3>
<div class="table">
  <h4 *ngFor="let semester of getSemArr()">
    <i class="material-icons" (click)="removeSemester(semester)">close</i>{{ semester.name }}
  </h4>
  <button class="btn btn-primary btn-sm" (click)="openSemesterAdder()">Add a Semester</button>
</div>
<button class="btn btn-primary" (click)="returnSemesters()">Confirm</button>

<ng-template #semesterAdder>
  <div class="modal-body">
    <h4 class="header">Add a semester</h4>
    <form (ngSubmit)="addSemester(termInput, yearNum)">
      <div class="form-group row">
        <div class="col">
          <label>Semester</label>
        </div>
        <div class="col">
          <select class="form-control" name="termInput" type="string" [(ngModel)]="termInput">
            <option ngValue="Fall" selected="selected">Fall</option>
            <!-- TODO selected = selected doesn't actually work for some reason? -->
            <option ngValue="Spring">Spring</option>
            <option ngValue="Summer">Summer</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label>Year</label>
        </div>
        <div class="col">
          <input
            class="form-control year-name"
            type="number"
            name="year-name"
            min="2010"
            max="2030"
            [(ngModel)]="yearNum"
          />
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <div class="col-6">
          <button class="btn btn-primary btn-block" type="submit">Add</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col error">
          {{ errorMessage }}
        </div>
      </div>
    </form>
  </div>
</ng-template>
