<h3>Add/Remove a Semester</h3>
<div class="table">
  <h4 *ngFor="let semester of semesters">
    <i class="material-icons" (click)="removeSemester(semester)">close</i>{{ semester.name }}
  </h4>
  <button class="gt-button gt-button-secondary" (click)="openSemesterAdder()">Add a Semester</button>
</div>
<button class="gt-button gt-button-secondary" (click)="returnSemesters()">Confirm</button>

<ng-template #semesterAdder>
  <div class="semester-adder">
    <h5>Add a semester</h5>
    <form class="semesterInput" (ngSubmit)="addSemester(seasonInput + ' ' + yearNum)">
      <select name="seasonInput" type="string" [(ngModel)]="seasonInput">
        <option ngValue="Fall" selected="selected">Fall</option>
        <!-- TODO selected = selected doesn't actually work for some reason? -->
        <option ngValue="Spring">Spring</option>
        <option ngValue="Summer">Summer</option>
      </select>
      <input type="number" name="yearName" min="2010" max="2030" [(ngModel)]="yearNum" />
      <br />
      <button class="gt-button gt-button-secondary" type="submit">Add</button>
      <p>{{ errorMessage }}</p>
    </form>
  </div>
</ng-template>
