.requirement,
.nested > *,
.course {
  padding-left: 16px;
}

.fulfilled {
  background-color: #d8fcbc;

  .unfulfilled,
  .potential {
    background-color: lightgray;
  }
}

.unfulfilled {
  background-color: #fcc3bc;
}

.potential {
  background-color: #fbfcbc;
}

.course {
  background-color: white;
}

.manual {
  padding-left: 8px;
  border-left: 8px solid rgba(128, 128, 128, 0.5);
}

.req-more {
  float: right;
  height: 1.5rem;
}
