<mat-form-field>
   <input type="text"
     placeholder="Search for a class"
     matInput [formControl]="searchPhrase"
     [matAutocomplete]="auto"
     (keyup)="updateAutoComplete()">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let course of courseMatches" [value]="course.id">
          {{ course.dept }} {{ course.no }}: {{ course.title }}
       </mat-option>
      </mat-autocomplete>
</mat-form-field>

<button (click)="returnCourse()"> a test button that will add the first course in courseMatches to the semseter</button>
