<div class="pane">
  <button type="button" (click)="openSelector()">open modal</button>
  <select [(ngModel)]="selectedSet" (change)="updateSelectedRequirements(selectedSet)">
    <option *ngFor="let requirementSet of selectableRequirementSets" [ngValue]="requirementSet">{{
      requirementSet.name
    }}</option>
  </select>
  <app-requirement-set
    *ngFor="let requirementSet of selectedRequirementSets"
    [requirementSet]="requirementSet"
  ></app-requirement-set>
</div>
<ng-template #goalSelector>
  <div class="">
    <app-requirement-selector></app-requirement-selector>
  </div>
  <button type="button" (click)="closeSelector()">Close the selector</button>
</ng-template>
