:host {
  padding: 16px;
  padding-right: 2rem;
  background-color: #f2f2f2;
}

.goal-editor {
  width: 80%;
  position: relative;
  left: 10%;
  margin-bottom: 24px;
  color: #2a26ea;
  background-color: white;
  border: none;
}
