<ng-container *ngIf="allCourses; else loading">
  <form class="search-bar" (ngSubmit)="returnCourse()">
    <div class="form-row">
      <div class="col">
        <input
          class="form-control"
          type="text"
          name="course"
          placeholder="Search for a class"
          [(ngModel)]="searchedCourse"
          [ngbTypeahead]="updateAutoComplete"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </div>
  </form>
  <app-berkeleytime-info
    *ngIf="hasSearchedCourse()"
    [fields]="['semesters-offered']"
    [course]="searchedCourse"
  ></app-berkeleytime-info>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
