<ng-container *ngIf="allCourses; else loading">
  <form (ngSubmit)="returnCourse()">
    <div class="form-row">
      <div class="col">
        <input
          class="form-control"
          type="text"
          name="course"
          placeholder="Search for a class"
          [(ngModel)]="searchedCourse"
          [ngbTypeahead]="updateAutoComplete"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </div>
  </form>
  <div [ngSwitch]="berkeleytimeStatus()">
    <div *ngSwitchCase="'available'">
      <span>
        <p>Average grade: {{ searchedCourse.berkeleytimeData.grade || 'unavailable' }}</p>
        <button
          class="btn btn-secondary"
          *ngIf="searchedCourse.berkeleytimeData.grade"
          (click)="showBerkeleytimeDistribution()"
        >
          See distribution
        </button>
      </span>
      <p>Semesters previously offered: {{ getSemesterText() }}</p>
    </div>
    <div *ngSwitchCase="'no-course-selected'"></div>
    <div *ngSwitchCase="'unavailable'">
      <p>This course does not have berkeleytime information available.</p>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
