<ng-container *ngIf="allCourses; else loading">
  <form (ngSubmit)="returnCourse()">
    <div class="form-row">
      <div class="col">
        <input
          class="form-control"
          type="text"
          name="course"
          placeholder="Search for a class"
          [(ngModel)]="searchedCourse"
          [ngbTypeahead]="updateAutoComplete"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </div>
  </form>
  <div>
    <iframe [src]="getBerkeleyTimeUrl()" width="100%" height="100%"></iframe>
  </div>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
