<div class="semester-container">
  <table>
    <thead>
      <th colspan="2">
        <h4>{{ name }}</h4>
      </th>
      <th><button (click)="modalService.open(courseAdder, { size: 'lg' })">+</button></th>
    </thead>
    <tbody>
      <tr *ngFor="let course of semester.courses">
        <td class="name">{{ course.dept + ' ' + course.no }}</td>
        <td class="units">{{ course.units }}</td>
        <td class="button-cell"><button (click)="removeCourse(course)">-</button></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #courseAdder>
  <div class="modal-body">
    <app-course-adder [semester]="semester"></app-course-adder>
  </div>
</ng-template>
