button {
  width: 100%;
}

.semester-container {
  display: inline-block;
  background-color: #b3e2f7;
}

table {
  margin: 0.5em;
  border-collapse: separate;
  border-spacing: 8px 8px;
}

table td {
  background-color: #e2f9fe;
}

table td.button-cell {
  background-color: unset;
}
