.semester-pane-container {
  padding: 1em;
}

.semester-pane-container > div {
  display: flex;
  flex-wrap: wrap;
}

.semester-pane-container > div > app-semester {
  width: 50%;
  margin-bottom: 1em;
}
